<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nulla cupiditate expedita ab vitae quae iure similique est molestias quis architecto necessitatibus temporibus cum ipsum iste assumenda exercitationem molestiae ea vero, deserunt magnam. Nam cumque corporis repellendus autem hic enim.</p>
    </div>
</div>