<div class="jumbotron mt-4">
    <h1 class="display-4">Notas App</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius adipisci rerum ad ratione debitis a explicabo minima, laboriosam, possimus animi cumque illum repellat? Numquam est iure amet. Officiis, explicabo officia.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident sed incidunt sapiente error. Similique fuga magni quasi fugit ab sunt nobis quas ratione eos repellendus, reprehenderit iure numquam cumque officiis!</p>
    <a href="https://google.com" class="btn btn-primary btn-lg">Google</a>
</div>